.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  color: var(--dl-color-secondary-300);
  font-size: 1.5rem;
  text-decoration: none;
}
.navigation-links-navlink1 {
  color: var(--dl-color-secondary-300);
  font-size: 1.5rem;
  margin-left: 32px;
  text-decoration: none;
}
.navigation-links-navlink2 {
  color: var(--dl-color-secondary-300);
  font-size: 1.5rem;
  margin-left: 32px;
  text-decoration: none;
}












@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.blog-post-card2-blog-post-card {
  width: 100%;
  display: flex;
  max-width: 1400px;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.blog-post-card2-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card2-container {
  display: flex;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
}
.blog-post-card2-container1 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.blog-post-card2-text {
  color: var(--dl-color-gray-black);
  font-style: normal;
  font-weight: 700;
  margin-bottom: 32px;
}
.blog-post-card2-text1 {
  color: var(--dl-color-secondary-400);
  font-size: 1.25rem;
  margin-bottom: 32px;
}
.blog-post-card2-container2 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}


@media(max-width: 991px) {
  .blog-post-card2-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .blog-post-card2-blog-post-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .blog-post-card2-container2 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .blog-post-card2-root-class-name3 {
    max-width: 479px;
  }
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-pimary-900);
}
.home-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  opacity: 1;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/31-1500h.jpeg");
}
.home-container01 {
  top: 322px;
  left: 1px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: center;
}
.home-text {
  color: var(--dl-color-gray-white);
  text-align: center;
}
.home-image {
  right: 0px;
  width: 2000px;
  bottom: -7px;
  height: 92px;
  position: absolute;
  object-fit: cover;
}
.home-image1 {
  top: 0px;
  left: 0px;
  width: 100%;
  display: none;
  position: absolute;
  object-fit: cover;
}
.home-header {
  width: 100%;
  display: flex;
  max-width: 2000px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.35);
}
.home-navlink {
  display: contents;
}
.home-image2 {
  width: 44px;
  height: 44px;
  object-fit: cover;
  text-decoration: none;
}
.home-nav {
  display: flex;
}
.home-container02 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-icon {
  fill: #FFFFFF;
  width: 24px;
  height: 24px;
  margin-right: 32px;
  text-decoration: none;
}
.home-icon02 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.home-burger-menu {
  display: none;
}
.home-icon04 {
  width: 16px;
  height: 16px;
  display: none;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container03 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.home-image3 {
  height: 2rem;
}
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon06 {
  width: 16px;
  height: 16px;
}
.home-icon08 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon10 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon12 {
  width: 16px;
  height: 16px;
}
.home-blog {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-container04 {
  align-items: center;
}
.home-section1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-pimary-900);
}
.home-text01 {
  color: var(--dl-color-gray-black);
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.home-container05 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  flex-direction: column;
}
.home-cards-container {
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  margin-bottom: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.home-card1 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-container06 {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, #f87171, #dc2626);
}
.home-icon14 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.home-text02 {
  color: var(--dl-color-secondary-100);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
}
.home-text03 {
  color: var(--dl-color-secondary-700);
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Open Sans;
  line-height: 1.625rem;
}
.home-card2 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-container07 {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, #38bdf8, #0284c7);
}
.home-icon16 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.home-text04 {
  color: var(--dl-color-secondary-100);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
}
.home-text05 {
  color: var(--dl-color-secondary-700);
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Open Sans;
  line-height: 1.625rem;
}
.home-card3 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-container08 {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, #34d399, #059669);
}
.home-icon18 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.home-text08 {
  color: var(--dl-color-secondary-100);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
}
.home-text09 {
  color: var(--dl-color-secondary-700);
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Open Sans;
  line-height: 1.625rem;
}
.home-testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #232323;
}
.home-container09 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text10 {
  color: var(--dl-color-gray-white);
}
.home-container10 {
  width: 100%;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
}
.home-testimonial-card {
  display: flex;
  padding: 32px;
  max-width: 1400px;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-icon20 {
  width: 2rem;
  margin-bottom: 32px;
}
.home-testimonial1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-text13 {
  color: rgb(89, 89, 89);
  text-align: center;
  margin-bottom: 48px;
}
.home-text14 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text15 {
  color: rgb(89, 89, 89);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.home-testimonial-card1 {
  display: flex;
  padding: 32px;
  max-width: 1400px;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-icon22 {
  width: 2rem;
  margin-bottom: 32px;
}
.home-testimonial2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-text16 {
  color: rgb(89, 89, 89);
  text-align: center;
  margin-bottom: 48px;
}
.home-text17 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text18 {
  color: rgb(89, 89, 89);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.home-testimonial-card2 {
  display: flex;
  padding: 32px;
  max-width: 1400px;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-icon24 {
  width: 2rem;
  margin-bottom: 32px;
}
.home-testimonial3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-text19 {
  color: rgb(89, 89, 89);
  align-self: center;
  text-align: center;
  margin-bottom: 48px;
}
.home-text20 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text21 {
  color: rgb(89, 89, 89);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.home-container11 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #232323;
}
.home-container12 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-container13 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text24 {
  color: var(--dl-color-secondary-700);
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
}
.home-text25 {
  color: var(--dl-color-secondary-500);
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-social-bar {
  width: 100%;
  display: flex;
  padding: 48px;
  justify-content: center;
}
.home-link1 {
  display: contents;
}
.home-icon26 {
  fill: #ffffff;
  width: 35px;
  height: 30px;
  margin-right: 32px;
  text-decoration: none;
}
.home-link2 {
  display: contents;
}
.home-icon28 {
  fill: var(--dl-color-pimary-900);
  width: 35px;
  height: 30px;
  margin-right: 32px;
  text-decoration: none;
}
.home-link3 {
  display: contents;
}
.home-image4 {
  width: 35px;
  height: 30px;
  object-fit: cover;
  text-decoration: none;
}
.home-container14 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-container15 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 6rem;
  flex-direction: column;
}
.home-text26 {
  color: var(--dl-color-secondary-700);
  font-weight: 600;
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-navlink2 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-navlink3 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-navlink4 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
@media(max-width: 991px) {
  .home-icon04 {
    display: flex;
  }
  .home-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .home-card1 {
    width: 90%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-card2 {
    width: 90%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-card3 {
    width: 90%;
  }
  .home-text10 {
    text-align: center;
  }
  .home-container10 {
    grid-template-columns: 1fr;
  }
  .home-text15 {
    align-self: center;
  }
  .home-text18 {
    align-self: center;
  }
  .home-text21 {
    align-self: center;
  }
  .home-text22 {
    align-self: center;
  }
  .home-container12 {
    align-items: center;
    flex-direction: column;
  }
  .home-container13 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .home-container15 {
    align-items: center;
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-nav {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-blog {
    width: 767;
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-section1 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-container09 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-testimonial-card {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-testimonial-card1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-testimonial-card2 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-text25 {
    text-align: center;
  }
  .home-social-bar {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-container14 {
    align-items: center;
    flex-direction: column;
  }
  .home-container15 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 479px) {
  .home-container01 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-header {
    padding: var(--dl-space-space-unit);
    padding-right: 1rem;
  }
  .home-icon-group {
    display: none;
  }
  .home-icon04 {
    width: 32px;
    height: 32px;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-blog {
    width: 479px;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-card1 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-text03 {
    text-align: left;
  }
  .home-card2 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-text05 {
    text-align: left;
  }
  .home-text09 {
    text-align: left;
  }
  .home-container09 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-testimonial-card {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-icon20 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text13 {
    margin-bottom: 32px;
  }
  .home-text14 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-text15 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-testimonial-card1 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-icon22 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text16 {
    margin-bottom: 32px;
  }
  .home-text17 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-text18 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-testimonial-card2 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-icon24 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text19 {
    margin-bottom: 32px;
  }
  .home-text20 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-text21 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text22 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-social-bar {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
