<div>
  <link href="./blog-post-card2.css" rel="stylesheet" />
  <div class="blog-post-card2-blog-post-card">
    <div class="blog-post-card2-container">
      <div class="blog-post-card2-container1"></div>
      <h1 class="blog-post-card2-text"><span>Our Story</span></h1>
      <span class="blog-post-card2-text1">
        <span>
          Hello, my name is Treyven and I am the founder of DIstinct Detailing.
          I am a sophmore at Emerson High School and I started Distinct
          Detailing to pay for my first car. We are commited to giving you the
          best experience you can have by servicing your car in your own
          driveway, making payment convenient and making sure your car is always
          at its best.
        </span>
      </span>
      <div class="blog-post-card2-container2"></div>
    </div>
  </div>
</div>
